<?xml version="1.0" encoding="UTF-8"?>
<settings>
<server url="http://teste.atcmultimidia.com.br:8080/speedtest/upload.php" lat="-19.9167" lon="-43.9333" name="Belo Horizonte" country="Brazil" cc="BR" sponsor="American Tower Brasil" id="30695"  url2="http://teste.atcmultimidia.com.br:8080/speedtest/upload.php" />
</servers>
</settings>
